.ca{
  display: flex;
  justify-content: space-between;
}

.input{
  outline: none;
  border: 1px rgba(127, 207, 231, 0.575) solid;
  border-radius: 5px;
}

.input:focus{
  box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
}
.searchicon{
  position: absolute;
  right: 5%;
  top: 30%;
  cursor: pointer;
  font-size: 20px;
}